.container {
    height: 600px;
    width: 600px;
    display: flex;
    border: solid red;
    /* gap: 50px; */
    flex-direction: row;
    /* justify-content: space-evenly;
    align-items: center */
    
}
.one {
    height: 50px;
    flex: 0.5;
    background-color: rgb(0, 234, 255)

}

.two {
    height: 50px;
    flex: 4;
    /* align-self: flex-end; */
    background-color: yellow;
}

.three {
    height: 50px;
    flex: 3;
    background-color: rgb(0, 234, 255)
    
}