h1 {                           /* Selector */
    color: navy;                   
    font-size: 2rem;   
    background-color: skyblue            
    }
body {
    color: navy;                  
    font-size: 1rem;
    background-color: skyblue
    }
.flex-container1 {
    display: flex;
    flex-wrap: nowrap;
    width: 1400px;
    margin: 20px;
    line-height: 30px;
    font-size: 20px;
    justify-content: space-around;
    flex-direction: row;
    text-align: justify;
      }
.flex-container2 {
    display: flex;
    flex-wrap: nowrap;
    width: 1400px;
    margin: 20px;
    line-height: 30px;
    font-size: 15px;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
     }
.flex-container3 {
    display: flex;
    flex-wrap: nowrap;
    width: 1400px;
    margin: 20px;
    line-height: 30px;
    font-size: 15px;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    }
.flex-container4 {
    display: flex;
    flex-wrap: nowrap;
    width: 1400px;
    margin: 20px;
    line-height: 30px;
    font-size: 15px;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    }
div {
    height: 400px;
    width: 600px;
}
table  {
    border-collapse: collapse;
    border: 3px dashed #0038b8
}
table tr  {
    border-collapse: collapse;
    border: 3px solid #0038b8
}
.rect{
    display: inline-block 
    width: 100px;
    height: 50px;
}

.white {
    background-color: #FFFFFF;
}

.blue{
    background-color: #0038b8;
}