body {
/* nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
      
li {
    display: inline;
    }
}
/* google font style requirement code */
h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: 'Montserrat', sans-serif;
}
/* google font style requirement code */
p {
    color: black;
    font-family: 'Montserrat', sans-serif;
}
