body {
    background-image: url(logo.jpg);
    background-repeat: no-repeat;
  }
img {
    position: relative;
    width: 100%;
    height: 80vh
    }

/* nav bar */
ul {
    list-style-type: none;
    margin: 0;
    left: auto;
    right: auto;
    padding: 20px 20px;
    color: white
    font-family: 'Montserrat', sans-serif;
    
    position: absolute
    }
      
li {
    display: inline;
    }

.overlay-thorheading {
    position: absolute;
    color: black;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
}

.overlay-thorparag {
    position: absolute;
    color: black;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    width: 20vw
    height: 20vh 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: black
 }
 /* media queries */
@media screen
 and (min-width: 1200px)
 and (max-width: 1600px) {
}
@media screen and (max-width: 600px) {
    h1 {
        color: blue
    }
   }
@media screen and (max-width: 600px) {
    /* apply for screens where the maximum width is 600px */
   }
@media screen and (min-width: 680px) {
    aside {
        width: 33%;
    }
}

@media screen and (max-width: 680px) {
    aside {
        display: none;
    }
}