 body {
    color: navy; 
    background-color: #9EBDF6
    }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
      }

h1 {
    color: navy;                   
    font-size: 2.5rem;
}

h2 {
    color: navy;                   
    font-size: 1.5rem;
} 

h3 {     
    color: navy;                   
    font-size: 1.3rem;           
        }

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

blockquote {
    color: navy;                   
    font-size: 1.3rem; 
}
