.imagecontainer  {
    position: relative;
    max-width: 100%;
    height: auto;
    }

.overlay-texttextGrabberSlogan {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(50%, 50%);  
        }

.overlay-texttextEmailEntry {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, 0%);  
        }

.fa-solid fa-display {

    }
.fa-brands fa-bootstrap {
    
    }
.fa-solid fa-square-check {
    
    }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw
    height: 20vh
      }